<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <title>Ant Design Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/workbench/zh_CN/apworkbench/font/iconfont/menufont.css">
  <link rel="stylesheet" href="/workbench/zh_CN/fonts/moren/iconfont.css">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <style>
    body {
      overflow: hidden;
    }

    i.icon {
      margin-right: 14px;
    }

    .ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .icon+span {
      max-width: 0;
      display: inline-block;
      opacity: 0;
    }

    .ant-menu-inline-collapsed>.ant-menu-item>a .icon+span {
      max-width: 0;
      display: inline-block;
      opacity: 0;
    }

    .antd-pro-layouts-basic-layout-content {
      margin: 0 !important;
    }

    .antd-pro-components-sider-menu-index-sider {
      margin-top: 64px;
    }

    .ant-layout-header {
      position: fixed;
      left: 0;
      z-index: 1200;
    }

    .antd-pro-layouts-basic-layout-content {
      padding-top: 64px !important;
    }

  </style>
</head>

<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
</body>

</html>
